html {
	margin: 0;
	padding: 0;
	background: white;
}

body {
	font-family: "Times New Roman", serif;
	line-height: 1.5;
}

hr {
	margin: 2em 0;
	border: 0;
	text-align: center;
}

hr::before {
	content: "* * *";
}

a { color: inherit; }
img { width: 100%; }
ul { list-style: circle; }

::selection {
	background-color: #e1e1e1;
}

a:hover {
	color: white;
	background-color: black;
}

h1, h2 {
	font-weight: normal;
	text-align: center;
	margin: 0;
}

sup {
	line-height: 1em;
}

main {
	max-width: 600px;
	margin: 4em auto;
}

nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

nav ul li { display: inline; }
nav ul li:not(:last-child) { padding-right: 1em; }

.footnote hr, .footnotes hr { margin: initial; }

#logo {
	position: absolute;
	top: 46%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

